
h1{
    padding: 0%;
    margin: 0;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
#input {
  float: left;
  padding: 6px;
  border: none;
  background-color: white;
 background-image: url('https://pngtree.com/freepng/vector-search-icon_3783210.html');
  font-size: 17px;
}
input [type="text"]{
    border-radius: 20px;
    padding: 20%;
    height: 10px;
}
#container{
    display: flex;
    margin-top: 0%;
    align-self: start;
    flex-direction: column;
    margin-left: 20px;
}
#search{
    display: flex;
    justify-self: center;
    margin-top: 0%;

}
.form-input{
    display: flex;
    border-radius: 10px;


}
#form-submit
{
  display: flex;
  flex-direction: row;
}

